<link href="/css/productSlider.css" rel="stylesheet" />

<main>
    <!-- <div class="text">
        <h1>Simple Single carousel</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam non atque adipisci est, recusandae aperiam, ullam minima quos nostrum animi voluptas sequi. At repellendus fuga reiciendis accusantium, dolor suscipit repellat?
        </p>
    </div> -->
    <header>

        <%if (tower == 'true') {%>
        <h1 style="text-align: right;" class="heading_style">Tower Servers</h1>
        <p>
            <span id="arrows">&#139;</span>
            <span id="arrows">&#155;</span>
        </p>
        <%}%>

        <%if (rack == 'true') {%>
        <h1 style="text-align: right;" class="heading_style">Rack Servers</h1>
        <p>
            <span id="arrows_rack">&#139;</span>
            <span id="arrows_rack">&#155;</span>
        </p>
        <%}%>

        <%if (blade == 'true') {%>
            <h1 style="text-align: right;" class="heading_style">Blade Servers</h1>
            <p>
                <span id="arrows">&#139;</span>
                <span id="arrows">&#155;</span>
            </p>
        <%}%>
     
    </header>

    <% if (tower == 'true') { %>
        <% if (servers) { %>
            <section class="slider_section">
                <% for(var i=0; i<servers.length; i++) {%>
                    <div class="product">
                        <!-- <picture>
                            <img src="<%= servers[i].img %>" alt="" >
                        </picture> -->
                        <div style="width: 100%; height:300px; background-image: url('<%= servers[i].img %>'); background-position: center; background-repeat: no-repeat; background-size: contain;">

                        </div>
                        <div class="detail">
                            <p>
                                <b><%= servers[i].model %></b><br>
                                <small><%= servers[i].brand %></small>
                            </p>
                        </div>
                        <div class="button">
                            <p class="star">
                                <strong>&star;</strong>
                                <strong>&star;</strong>
                                <strong>&star;</strong>
                                <strong>&star;</strong>
                                <strong>&star;</strong>
                            </p>
                            <a href="/contact-us" class="btn_shop_now">MORE </a>
                        </div>
                    </div>
                <% } %>
            </section>
        <% } %>
    <%}%>

    
    <% if (rack == 'true') { %>
        <% if (racks) { %>
            <section class="slider_section">
                <% for(var i=0; i<racks.length; i++) {%>
                    <div class="product" style="padding: 10px;">
                        <!-- <picture>
                            <img src="<%= racks[i].img %>" alt="" >
                        </picture> -->
                        <div style="width: 100%; height:300px; background-image: url('<%= racks[i].img %>'); background-position: center; background-repeat: no-repeat; background-size: contain;">

                        </div>
                        <div class="detail">
                            <p>
                                <b><%= racks[i].model %></b><br>
                                <small><%= racks[i].brand %></small>
                            </p>
                        </div>
                        <div class="button">
                            <p class="star">
                                <strong>&star;</strong>
                                <strong>&star;</strong>
                                <strong>&star;</strong>
                                <strong>&star;</strong>
                                <strong>&star;</strong>
                            </p>
                            <a href="/contact-us" class="btn_shop_now">MORE </a>
                        </div>
                    </div>
                <% } %>
            </section>
        <% } %>
    <%}%>

   

</main>



