<%- include('partials/masinfosysheader'); -%>

<%- include('partials/whatsuplogo'); -%>

<%- include('partials/cookies'); -%>

<!-- <%- include('partials/dropdown'); -%> -->


   <div class="showcase1">
    <div class="content">
      <h2 style="color: white;font-size: 32px;font-family:sans-serif;font-weight: 200;">MASInfosys Helps you to Save Time and Money</h2>
      <p style="color: white;font-size: 16px;font-family:sans-serif;font-weight: 200; margin-top: 30px;"> Get Competitive & affordable Enterprise architecture with dedicated team to ensure completion of <br> project on time and budget</p>
      <div class="btn_showcase">
        <!-- <a href="#" class="btn" style="border-color:#fff;background-color: rgba(0,0,0,0);color: #fff;">
          Explore <i class="fas fa-chevron-right" style="margin-left: 5px;"></i>
        </a> <br> <br> -->
        <a href="/contact-us" class="btn" style="border-color:#fff;background-color: rgba(0,0,0,0);color: #fff;">
          CONTACT US  <i class="fas fa-chevron-right" style="margin-left: 5px;"></i>
        </a>
      </div>
    </div>
  </div>


    <!-- INFO SECTION -->
  <section id="info" class="py-5" data-aos="fade-up" date-aos-delay="200">
    <div class="container-fluid" style="padding: 50px;">
      <div class="row">
        <div class="col-md-6 align-self-center">
          <h4 class="heading_style">HPE PRO LIANT GEN10 </h4>
          <p class="general_paragraph">HPE ProLiant DL380 Gen10 server with one Intel® Xeon® Gold 6250 processor, 32 GB dual rank memory, 8 small form factor drive bays, one HPE Ethernet 10Gb</p>
          <a href="about.html" class="btn btn-outline-danger btn-lg">Learn More</a>
        </div>
        <div class="col-md-6">
          <img src="./assets/img/hpe-server.jpg" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </section>

    <!-- ======= Why Us Section ======= -->
    <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
      <div class="container">

        <div class="row">
          <div class="col-lg-6 video-box">
            <!-- <iframe style="width: 100%; height:100%" src="https://www.youtube.com/embed/cCvfcsP5izU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/n3bD4TT4FP8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>

          <div class="col-lg-6 d-flex flex-column justify-content-center p-5">

            <div class="icon-box">
              <div class="icon"><i class="bx bx-fingerprint"></i></div>
              <h4 class=" heading_style">Surveillance systems</h4>
              <p class="general_paragraph">Surveillance systems are an essential part of securing your home or business. These systems can range from wireless home security cameras to sophisticated alarm systems that notify law enforcement at the first sign of trouble</p>
            </div>

            <div class="icon-box">
              <div class="icon"><i class="bx bx-gift"></i></div>
              <h4 class="heading_style" >wireless cameras</h4>
              <p class=" general_paragraph">Whether you want to keep an eye on employees at nearby facilities or document every person approaching your home's front door, the right equipment for the job can offer the necessary protection.</p>
            </div>

          </div>
        </div>

      </div>
    </section>

    <%- include('partials/productSlider', {tower:'true', rack:'false', blade:'false'}) %>
    <%- include('partials/productSlider', {tower:'false', rack:'true', blade:'false'}) %>
    <!--OUR SERVICES--->

    <div class="container-fluid" style="background-color: #fdf3eb;margin-bottom:10px;padding: 20px;">
        
    <div class="d-flex justify-content-center align-items-center mt-5"> <button class="btn btn-dark">OUR SERVICES</button>
    </div>
    <div class="d-flex justify-content-center mt-3"> <span class="text text-center">Finding Best Services Now<br> in Your Fingertips</span>
    </div>
    <div class="row mt-2 g-4 service_card">
        <div class="col-md-3">
            <div class="card p-1">
                <div class="d-flex justify-content-between align-items-center p-2">
                    <div class="flex-column lh-1 imagename"> <span>Data center</span> </div>
                    <div> <img src="/img/grid/one.jpg" height="100" width="100" /> </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card p-2">
                <div class="d-flex justify-content-between align-items-center p-2">
                    <div class="flex-column lh-1 imagename"> <span>Support</span> </div>
                    <div> <img src="/img/grid/data-center-1.jpg" height="100" width="100" /> </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card p-2">
                <div class="d-flex justify-content-between align-items-center p-2">
                    <div class="flex-column lh-1 imagename"><span>Storage</span> </div>
                    <div> <img src="/img/grid/three.jpg" height="100" width="100" /> </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card p-2">
                <div class="d-flex justify-content-between align-items-center p-2">
                    <div class="flex-column lh-1 imagename"><span>consultancy</span> </div>
                    <div> <img src="/img/about.jpg" height="100" width="100" /> </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card p-2tr5">
                <div class="d-flex justify-content-between align-items-center p-2">
                    <div class="flex-column lh-1 imagename"> <span>Workstation</span> </div>
                    <div> <img src="/img/grid/five.jpg" height="100" width="100" /> </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card p-2">
                <div class="d-flex justify-content-between align-items-center p-2">
                    <div class="flex-column lh-1 imagename"> <span>Hardware</span> </div>
                    <div> <img src="/img/grid/six.jpg" height="100" width="100" /> </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card p-2">
                <div class="d-flex justify-content-between align-items-center p-2">
                    <div class="flex-column lh-1 imagename"><span>Networking</span> </div>
                    <div> <img src="/img/data-center-3.jpg" height="100" width="100" /> </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card p-2">
                <div class="d-flex justify-content-between align-items-center p-2">
                    <div class="flex-column lh-1 imagename"> <span>Accessories and service</span> </div>
                    <div> <img src="/img/women-using.jpg" height="100" width="100" /> </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>



    <!-- ======= Features Section ======= -->
    <section class="features" style="margin-top: 20px">
      <div class="container">

        <div class="section-title">
          <h4 class="heading_style">NETWORK STORAGE</h4>
          <p class="general_paragraph">There are two standard types of network storage, called Network Attached Storage (NAS) and Storage Area Network (SAN). The terms NAS and SAN are often confused with one another because the acronyms are similar.</p>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-md-5">
            <img src="assets/img/logo_network_storage.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-4">
            <h3>Storage Solution</h3>
            <p class="general_paragraph">
              Network-attached storage (NAS) is a file-level storage architecture where 1 or more servers with dedicated disks store data and share it with many clients connected to a network.
            </p>
            <ul>
              <li class="general_paragraph"><i class="bi bi-check"></i> SAN Storage Solution</li>
              <li class="general_paragraph"><i class="bi bi-check"></i>NAS Storage Solution</li>
              <li class="general_paragraph"><i class="bi bi-check"></i>OBJECT Storage Solution</li>
            </ul>
          </div>
        </div>

        

        <!--add container-hp-->

        <div class="add_container">
            <div class="add_container_item1">
              <video autoplay="" muted="" loop="">
                <source src="/assets/video/hp.mp4" type="video/mp4">
              </video>
            </div>
            <div class="add_container_item2">
                <h1 style="background-color:#51a1f8; color: white;">HP Laptops</h1> 
                <h1 style="background-color: #6aaef9;color: white;">Every Day PC's</h1>
                <p class="general_paragraph">All the basics you need for everyday computing</p>

                <div class="add_container_item2_contents" style="width:100%">
                  <p class="general_paragraph">Excellent Value</p>
                  <p class="general_paragraph">Reliable Performance</p>
                  <p class="general_paragraph">Great For Multitasking</p>
                </div>


            </div>
        </div>

        
        <div class="row virtual_section" data-aos="fade-up">
          
          <div class="col-md-5 order-1 order-md-2">
            <img src="./assets/img/logo_virtual_glass.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5 order-2 order-md-1">
           
            <h4 class="heading_style">
              VR Headset Virtual Reality VR 3D Glasses VR Set Incl 3D Virtual Reality Goggles, Controller, Adjustable VR Glasses
            </h4>
            <p class="general_paragraph">
              Newly upgraded 3D technology -Gaming and watching movies with virtual reality headsets work best when your eyes properly align with the screen box. Boasting HD optimization and 3D gaming support, you’ll put yourself right into the action with games, movies and more
            </p>
            <p class="general_paragraph">
              Gamepad & multiple applications -Additional game controllers provide more ways to play,Upload 3D videos sources in Apple App store,Youtube or Google play store for massive content 3D movies, animation, panorama concert, VR games etc.
            </p>
            <p class="general_paragraph">
              Comfortable wearing experience -High quality material, super light weight and durable, no worry that your VR glasses get in wet weather, includes adjustable headstrap and more thick materials to touch your face.
              Choose to be delivered by Amazon -You have made an excellent choice by opting for our product. We offer every product a 365-days free warranty. We really care about our customers. If you have any questions with our products , please contact us immediately and we are 24 hours be there for you.
            </p>
            
          </div>
        </div>


        <div  class="server_add">
            <div class="item_1">
                <div class="top_pic_div_1" ></div>
                <h1 class="heading_style" style="margin-top: 20px;">HPE Proliant ML30 Gen10</h1>
                <p class="general_heading">The HPE ProLiant ML30 Gen10 server, powered by up to 6 cores in the Intel Xeon E Processor and up to 64 GB of 2666 MT/s DDR4 ECC UDIMM, delivers abundant performance for small- to mid-sized business applications.</p>
                <a href="/contact-us" class="btn_shop_now" style="margin-top: 5px;">MORE</a>
            </div>
            <div class="item_1">
              <div class="top_pic_div_2" ></div>
                <h1 class="heading_style" style="margin-top: 20px;">Dell PowerEdge Computer Servers Xeon Hard Drives</h1>
                <p class="general_heading">The Dell EMC PowerEdge T140 allows you to focus on your business, that’s why we offer the entry-level practical business server. Organize your data in one central data repository.</p>
                <a href="/contact-us" class="btn_shop_now">MORE </a>
            </div>
            <div class="item_1">
              <div class="top_pic_div_3" ></div>
                <h1 class="heading_style" style="margin-top: 20px;">Lenovo ThinkSystem ST550 XES 4210R</h1>
                <p class="general_heading">Whatever your needs, you can count on the Lenovo ThinkSystem ST550 server to be versatile and scalable, with a design optimized to meet virtually any application. Take advantage of all the latest technologies.</p>
                <a href="/contact-us" class="btn_shop_now" >MORE</a>
            </div>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-md-5">
            <img src="/img/lady-technicion.jpg" class="img-fluid" alt="" style="height: 500px;border-radius: 20px;">
          </div>
          <div class="col-md-7 pt-5">
            <h4 class="heading_style">A datacenter is a facility composed of Servers, Storage and Network Switch, Routers and Firewalls as well as the cabling and physical racks</h4>
            <p class="general_paragraph">A data center must also contain an adequate infrastructure such as power distribution and supplemental power subsystems, including electrical switching, uninterruptable power supplies, backup generators and so on; ventilation and data center cooling systems, such as computer room air conditioners; Fire alarm System and adequate provisioning for network carrier (telco) connectivity. All of this demands a physical facility with physical security and sufficient physical space to house the entire collection of infrastructure and equipment</p>
            <ul>
              <li class="general_paragraph"><i class="bi bi-check"></i> Data Centre Tiering</li>
              <li class="general_paragraph"><i class="bi bi-check"></i> Fire Suppression System FM200</li>
              <li class="general_paragraph"><i class="bi bi-check"></i> Raised Floor Systems</li>
              <li class="general_paragraph"><i class="bi bi-check"></i> Access Controll System</li> 
              <li class="general_paragraph"><i class="bi bi-check"></i> CCTV Solution</li>
            </ul>
          </div>
        </div>

        <div class="row" data-aos="fade-up" >
          <div class="col-md-5 order-1 order-md-2" style="display: flex; justify-content:center; align-items:center">
            <img src="/img/data-center-3.jpg" class="img-fluid" alt="" style="border-radius: 20px;">
          </div>
          <div class="col-md-7 pt-5 order-2 order-md-1">
            <h4 class="heading_style">MICROSOFT HYPER-V VIRTUALIZATION</h4>
            <p class=" general_paragraph">
              Hyper-V is Microsoft’s virtualization product. It lets you to create and run a software version of a computer called a virtual machine. Each virtual machine acts like a complete computer, running an operating system and programs. When you need computing resources, virtual machines give you more flexibility, help save time and money, and are a more efficient way to use hardware than just running one operating system on physical hardware.
            </p >
            <h4 class="heading_style">VDI SOLUTION</h4>
            <p class="general_paragraph">
              Virtual desktop infrastructure (VDI), hypervisors work in much the same way as they do with server virtualization. VDI software usually defines pools of virtual desktops. When a user establishes a session with a connection broker, it assigns the session to an available virtual desktop from the appropriate pool.
            </p>
          </div>
        </div>

         <!--add storage-hpe-->
         
        <div  class="server_add">
      
          <div class="item_1">
              <div class="top_pic_div_1_storge_1" ></div>
              <h1 class="heading_style" style="margin-top: 20px;">Hpe Nimble Storage</h1>
              <p class="general_heading">Forget all that time wasted managing storage and fighting fires. It’s time to elevate your storage experience with an agile, always-on, always-fast platform that powers everything from VMs to containers to test. </p>
              <a href="/contact-us" class="btn_shop_now" style="margin-top: 5px;">MORE</a>
          </div>
          <div class="item_1">
            <div class="top_pic_div_1_storge_2" ></div>
              <h1 class="heading_style" style="margin-top: 20px;">Dell Power Vault Storage </h1>
              <p class="general_heading">PowerVault ME4 Series storage arrays deliver all the software you’ll need to store, manage, and protect your data, Thin Provisioning: Allocate and consume physical storage capacity as needed in disk pools
              </p>
              <a href="/contact-us" class="btn_shop_now">MORE </a>
          </div>
          <div class="item_1">
            <div class="top_pic_div_1_storge_3" ></div>
              <h1 class="heading_style" style="margin-top: 20px;">Lenovo Hyber Flash Storage</h1>
              <p class="general_heading">Experience DM Series superior performance and reduce storage latency up to 50% with NVMe over FC. Protect your investment by increasing your storage speed through scale up and adding more controllers </p>
              <a href="/contact-us" class="btn_shop_now" >MORE</a>
          </div>
      </div>

      </div>
    </section><!-- End Features Section -->

  </main><!-- End #main -->

       
<script src="/js/imagesSlider.js"></script>
<%- include('partials/masinfosysfooter'); -%>

